@import "./colors";

.shops {
  &__header-wrapper {
    display: flex;
    align-items: center;
  }

  &__count {
    margin-left: 9px;

    color: $super-color-text-faded;
    font-weight: 500;
  }

  &__warn {
    margin-left: 11px;
    font-size: 16px;
    line-height: 16px;
  }
}

.shop {
  display: flex;
  align-items: center;

  padding: 20px;

  &__logo {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60px;
    width: 60px;
    margin-right: 10px;

    border-radius: 100%;

    color: #ffffff;
    background-color: #464646;
  }

  &__info {
    display: flex;
    flex-flow: row wrap;

    margin-left: 10px;

    white-space: nowrap;

    &__name {
      flex: auto;
      width: 100%;

      color: $super-color-text;

      font-size: 1.2em;
      font-weight: 500;
    }

    &__address {
      color: $super-color-text-faded;

      font-size: .95em;
      font-weight: 300;
    }
  }
}

.move-button-wrapper {
  transform: scaleX(-1);
}

.move-button {
  font-size: 30px;
  line-height: 30px;
}
