@import "./colors";

.shops {
  &__header-wrapper {
    display: flex;
    align-items: center;
  }

  &__count {
    margin-left: 9px;

    color: $super-color-text-faded;
    font-weight: 500;
  }

  &__warn {
    margin-left: 11px;
    font-size: 16px;
    line-height: 16px;
  }
}

.shop-info-container {
  position: relative;
  height: 100%;
}

.shop-info-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  //height: 100%;
}

.move-button-wrapper {
  transform: scaleX(-1);
}

.move-button {
  font-size: 30px;
  line-height: 30px;
}
