@import "colors";
@import "material";

// PerfectScrollBar styles
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

.header {
  color: $super-color-text-faded;
  font-weight: 300;
}

.shop-info {
  display: flex;
  align-items: center;

  padding: 20px;

  &__wrapper {
    display: flex;
    flex-flow: row wrap;

    margin-left: 10px;

    white-space: nowrap;
  }

  &__logo {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60px;
    width: 60px;
    margin-right: 10px;

    border-radius: 100%;

    color: #ffffff;
    background-color: #464646;
  }

  &__name {
    width: 100%;

    color: $super-color-text;

    font-size: 1.2em;
    font-weight: 500;
  }

  &__address {
    color: $super-color-text-faded;

    font-size: .95em;
    font-weight: 300;
  }
}


.scrollable-container {
  position: relative;
  height: 100%;
}

.scrollable-content-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
