@import "main";

* {
  box-sizing: border-box;
}

html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;

  width: 100%;
}
