<div class="workers-nav">
  <div class="workers-nav__tabs">
    <div
      *ngFor="let w of addedWorkers; trackBy: trackByFn"
      [ngClass]="{'worker-nav-tab--active': w.id === activeWorkerId}"
      class="worker-nav-tab"
    >
      <div
        (click)="onWorkerTabClick(w.id)"
        class="worker-nav-tab__avatar"
      >
        <img [attr.src]="w.logo" alt="аватарка сотрудника" height="100%" width="100%">
      </div>
    </div>
  </div>

  <div (click)="onAddWorkerClick()" class="button-add-worker">
    <button [disabled]="!workers?.length" color="primary" mat-fab>
      <mat-icon>add</mat-icon>
    </button>
    <p *ngIf="!addedWorkers?.length" class="button-add-worker__description">Добавить специалиста</p>
  </div>
</div>


<div *ngIf="addedWorkers?.length; else emptyWorkersTpl" class="worker-container">
  <h4 class="part-header header">Специалист</h4>
  <div class="worker-info">
    <div class="worker-info__logo">
      <img [attr.src]="activeWorker.logo" alt="аватарка сотрудника">
    </div>

    <div class="worker-info__name">{{activeWorker.fullName}}</div>

    <div *ngIf="activeWorker.shops?.length as shopsCount" class="worker-info__shops-count">
      {{shopsCount}} магазин
    </div>

    <button (click)="onWorkerDeleteClick()" class="worker-info__delete-button" mat-icon-button>
      <mat-icon>delete_outline</mat-icon>
    </button>
  </div>

  <h4 class="part-header header">Магазины</h4>
  <div *ngIf="activeWorker?.shops as shops" class="worker-info__shops">
    <div *ngFor="let s of shops" class="shop shop-info">
      <div class="shop-info__logo">SBS</div>

      <div class="shop-info__wrapper">
        <div class="shop-info__name">
          {{s.name}}
        </div>

        <div class="shop-info__address">
          {{s.fullAddress}}
        </div>
      </div>

      <div class="shop__remove-button-wrapper">
        <button (click)="onShopRemoveClick(s)" class="remove-button" mat-icon-button>
          <mat-icon inline>remove_circle</mat-icon>
        </button>
      </div>

    </div>
  </div>
</div>

<ng-template #emptyWorkersTpl>
  <div class="worker-container worker-container--empty">
    <h3>специалист не назначен</h3>
    <p>Чтобы начать работу с нераспределенными магазинами вам необходимо добавить хотя бы одного специалиста</p>
    <div class="add-person-icon">
      <mat-icon inline>person_add_alt_1</mat-icon>
    </div>
  </div>
</ng-template>
