@import "./colors";

.container {
  width: 100%;
  height: 100%;
}

.workers-shops {
  background-color: $super-color-bg;
  box-shadow: 0 0 10px darken($super-color-bg-dark, 5);
}

.workers-shops-wrapper {
  display: flex;

  height: 100%;
  padding: 50px 55px;
}

.workers {
  display: flex;
  flex-flow: column;

  width: 100%;
  padding-right: 30px;
}

.shops {
  flex: auto;
  display: flex;
  flex-flow: column;

  width: 100%;
  padding: 40px;
  border: 2px dashed $super-color-text-faded;
  border-radius: 15px;
}


.fx-col {
  display: flex;
  width: 50%;
  height: 100%;

  &--flow-column {
    flex-flow: column;
  }

  .save-button {
    font-size: 1.1em;
    width: 335px;
    margin-bottom: 25px;
    margin-left: auto;
    line-height: 62px;
  }
}
